<form action ="" method="POST">
    <div class="12u$(xsmall)">
        <input class="fit" name="username" placeholder="Name" type="text" />
        <input name="password" placeholder="Password" type="password" />
    </div>
    <ul class="actions">
        <input class="button alt fit" type="hidden" value="login" name="action" id="action" />
        <input class="button alt fit" type="submit" value="Log in" name="Log in" id="Log in" />
        <a href="signup/" class="button alt fit">Sign up</a>
    </ul>
</form>

